Databases (SQL):

1) Select any free API (the choice is up to you, you can use any from https://rapidapi.com/collection/list-of-free-apis).

2) Create the database which stores the infomration related to the API chosen (at least 2 tables).

3) In Python, 

3.1) implement the logic which fetches the data from API and moves it to Database 

3.2) Fetches the data from database and

3.2.1) If there is the API functionality (POST/GET request) which allows you to use the data from database in an API call, do it 
    
3.2.2.) If not - display the data from database as Pandas dataframe

In [117]:
import requests
import json
import pandas as pd

In [118]:
url_temp = 'https://archive-api.open-meteo.com/v1/archive?latitude=54.69&longitude=25.28&start_date=2023-01-01&end_date=2023-06-18&daily=temperature_2m_max,temperature_2m_min,temperature_2m_mean&timezone=Europe%2FBerlin&min=2023-06-04&max=2023-06-18'
response = requests.get(url_temp)
temperature = response.json()

In [119]:
temperature

{'latitude': 54.699997,
 'longitude': 25.300003,
 'generationtime_ms': 0.7399320602416992,
 'utc_offset_seconds': 7200,
 'timezone': 'Europe/Berlin',
 'timezone_abbreviation': 'CEST',
 'elevation': 95.0,
 'daily_units': {'time': 'iso8601',
  'temperature_2m_max': '°C',
  'temperature_2m_min': '°C',
  'temperature_2m_mean': '°C'},
 'daily': {'time': ['2023-01-01',
   '2023-01-02',
   '2023-01-03',
   '2023-01-04',
   '2023-01-05',
   '2023-01-06',
   '2023-01-07',
   '2023-01-08',
   '2023-01-09',
   '2023-01-10',
   '2023-01-11',
   '2023-01-12',
   '2023-01-13',
   '2023-01-14',
   '2023-01-15',
   '2023-01-16',
   '2023-01-17',
   '2023-01-18',
   '2023-01-19',
   '2023-01-20',
   '2023-01-21',
   '2023-01-22',
   '2023-01-23',
   '2023-01-24',
   '2023-01-25',
   '2023-01-26',
   '2023-01-27',
   '2023-01-28',
   '2023-01-29',
   '2023-01-30',
   '2023-01-31',
   '2023-02-01',
   '2023-02-02',
   '2023-02-03',
   '2023-02-04',
   '2023-02-05',
   '2023-02-06',
   '2023-02-07',
   '2023-02-08',
   '2023-02-09',
   '2023-02-10',
   '2023-02-11',
   '2023-02-12',
   '2023-02-13',
   '2023-02-14',
   '2023-02-15',
   '2023-02-16',
   '2023-02-17',
   '2023-02-18',
   '2023-02-19',
   '2023-02-20',
   '2023-02-21',
   '2023-02-22',
   '2023-02-23',
   '2023-02-24',
   '2023-02-25',
   '2023-02-26',
   '2023-02-27',
   '2023-02-28',
   '2023-03-01',
   '2023-03-02',
   '2023-03-03',
   '2023-03-04',
   '2023-03-05',
   '2023-03-06',
   '2023-03-07',
   '2023-03-08',
   '2023-03-09',
   '2023-03-10',
   '2023-03-11',
   '2023-03-12',
   '2023-03-13',
   '2023-03-14',
   '2023-03-15',
   '2023-03-16',
   '2023-03-17',
   '2023-03-18',
   '2023-03-19',
   '2023-03-20',
   '2023-03-21',
   '2023-03-22',
   '2023-03-23',
   '2023-03-24',
   '2023-03-25',
   '2023-03-26',
   '2023-03-27',
   '2023-03-28',
   '2023-03-29',
   '2023-03-30',
   '2023-03-31',
   '2023-04-01',
   '2023-04-02',
   '2023-04-03',
   '2023-04-04',
   '2023-04-05',
   '2023-04-06',
   '2023-04-07',
   '2023-04-08',
   '2023-04-09',
   '2023-04-10',
   '2023-04-11',
   '2023-04-12',
   '2023-04-13',
   '2023-04-14',
   '2023-04-15',
   '2023-04-16',
   '2023-04-17',
   '2023-04-18',
   '2023-04-19',
   '2023-04-20',
   '2023-04-21',
   '2023-04-22',
   '2023-04-23',
   '2023-04-24',
   '2023-04-25',
   '2023-04-26',
   '2023-04-27',
   '2023-04-28',
   '2023-04-29',
   '2023-04-30',
   '2023-05-01',
   '2023-05-02',
   '2023-05-03',
   '2023-05-04',
   '2023-05-05',
   '2023-05-06',
   '2023-05-07',
   '2023-05-08',
   '2023-05-09',
   '2023-05-10',
   '2023-05-11',
   '2023-05-12',
   '2023-05-13',
   '2023-05-14',
   '2023-05-15',
   '2023-05-16',
   '2023-05-17',
   '2023-05-18',
   '2023-05-19',
   '2023-05-20',
   '2023-05-21',
   '2023-05-22',
   '2023-05-23',
   '2023-05-24',
   '2023-05-25',
   '2023-05-26',
   '2023-05-27',
   '2023-05-28',
   '2023-05-29',
   '2023-05-30',
   '2023-05-31',
   '2023-06-01',
   '2023-06-02',
   '2023-06-03',
   '2023-06-04',
   '2023-06-05',
   '2023-06-06',
   '2023-06-07',
   '2023-06-08',
   '2023-06-09',
   '2023-06-10',
   '2023-06-11',
   '2023-06-12',
   '2023-06-13',
   '2023-06-14',
   '2023-06-15',
   '2023-06-16',
   '2023-06-17',
   '2023-06-18'],
  'temperature_2m_max': [12.9,
   9.0,
   9.2,
   1.5,
   3.2,
   -7.5,
   -6.7,
   -2.6,
   0.1,
   2.1,
   0.5,
   2.7,
   3.7,
   4.8,
   3.3,
   3.6,
   3.6,
   5.8,
   4.3,
   0.8,
   0.8,
   0.6,
   -1.7,
   -2.1,
   -0.7,
   -0.2,
   0.7,
   -1.0,
   0.8,
   1.4,
   1.7,
   1.2,
   1.3,
   -1.2,
   -2.4,
   -4.2,
   0.0,
   -0.4,
   -0.1,
   -0.2,
   2.3,
   3.8,
   -0.2,
   3.5,
   3.8,
   3.0,
   1.4,
   2.6,
   4.7,
   2.4,
   4.2,
   3.5,
   -2.0,
   -1.3,
   2.5,
   2.0,
   -0.6,
   -0.7,
   1.8,
   3.1,
   5.2,
   4.3,
   1.3,
   1.2,
   1.5,
   2.4,
   1.3,
   0.6,
   -3.0,
   4.4,
   0.6,
   5.1,
   10.4,
   6.9,
   4.9,
   6.3,
   7.9,
   11.2,
   12.4,
   7.4,
   10.8,
   15.2,
   13.4,
   13.5,
   10.6,
   5.8,
   2.5,
   3.1,
   8.8,
   9.9,
   10.9,
   4.2,
   2.2,
   2.7,
   4.2,
   12.8,
   14.6,
   14.1,
   15.4,
   16.6,
   15.5,
   16.2,
   12.6,
   12.9,
   10.7,
   9.0,
   13.0,
   12.6,
   15.7,
   16.3,
   15.9,
   16.2,
   18.3,
   18.9,
   17.3,
   9.6,
   10.2,
   10.6,
   14.2,
   12.7,
   12.5,
   16.6,
   11.6,
   12.3,
   9.5,
   9.7,
   11.1,
   13.2,
   15.7,
   16.2,
   17.4,
   19.7,
   21.1,
   22.3,
   23.1,
   18.1,
   14.4,
   14.3,
   17.4,
   19.2,
   20.1,
   19.9,
   21.1,
   23.1,
   23.7,
   20.0,
   16.3,
   18.4,
   20.3,
   19.6,
   19.9,
   19.7,
   14.5,
   13.7,
   17.8,
   17.8,
   21.9,
   24.8,
   26.0,
   24.9,
   19.9,
   20.2,
   19.7,
   22.3,
   22.1,
   26.4,
   25.6,
   26.2,
   18.3],
  'temperature_2m_min': [9.0,
   4.8,
   1.7,
   -0.2,
   -6.7,
   -15.2,
   -15.5,
   -6.4,
   -3.1,
   -1.0,
   -2.5,
   -0.8,
   1.8,
   2.8,
   2.0,
   0.7,
   0.5,
   1.0,
   0.5,
   -0.1,
   -1.0,
   -2.9,
   -4.5,
   -4.8,
   -5.0,
   -3.6,
   -1.8,
   -4.0,
   -4.4,
   0.2,
   -1.1,
   -1.1,
   -1.1,
   -6.4,
   -7.0,
   -7.7,
   -10.2,
   -3.9,
   -4.2,
   -3.1,
   -3.1,
   -1.3,
   -5.4,
   -0.8,
   -1.9,
   -5.8,
   -0.8,
   -0.6,
   1.7,
   -0.8,
   -2.1,
   -1.8,
   -10.0,
   -13.2,
   -1.5,
   -1.4,
   -3.8,
   -7.8,
   -10.0,
   -1.1,
   -2.5,
   -0.9,
   -1.6,
   -2.7,
   -4.2,
   -6.2,
   -2.9,
   -9.0,
   -12.9,
   -2.8,
   -5.4,
   -6.3,
   5.8,
   0.9,
   -1.5,
   -3.6,
   -1.3,
   2.5,
   3.0,
   3.6,
   1.7,
   7.3,
   7.5,
   5.6,
   4.9,
   0.5,
   -1.7,
   -2.4,
   -3.2,
   3.8,
   2.6,
   0.6,
   -2.5,
   -2.6,
   -4.0,
   0.4,
   4.8,
   6.9,
   2.3,
   2.2,
   4.7,
   6.2,
   7.6,
   8.3,
   6.0,
   2.6,
   6.6,
   5.6,
   6.0,
   6.8,
   5.1,
   6.1,
   8.0,
   8.8,
   8.7,
   5.2,
   3.2,
   0.1,
   -0.4,
   6.0,
   1.7,
   6.5,
   2.9,
   2.6,
   3.8,
   0.4,
   1.6,
   1.3,
   2.1,
   3.0,
   3.5,
   7.6,
   10.8,
   10.5,
   11.2,
   11.9,
   8.9,
   7.5,
   9.7,
   9.5,
   7.3,
   9.3,
   9.8,
   12.4,
   15.3,
   12.0,
   9.1,
   7.0,
   7.4,
   11.4,
   8.2,
   10.7,
   7.9,
   5.7,
   6.6,
   7.9,
   7.1,
   9.9,
   11.5,
   15.7,
   13.2,
   11.3,
   10.5,
   12.5,
   12.4,
   17.2,
   15.3,
   17.8,
   18.0],
  'temperature_2m_mean': [11.4,
   6.9,
   5.6,
   0.8,
   0.0,
   -12.2,
   -11.5,
   -4.3,
   -1.6,
   0.9,
   -1.0,
   0.9,
   3.0,
   3.9,
   2.5,
   2.4,
   1.9,
   2.5,
   1.6,
   0.4,
   0.1,
   -0.6,
   -3.0,
   -3.1,
   -2.0,
   -1.6,
   -0.6,
   -2.3,
   -1.5,
   0.8,
   0.7,
   0.4,
   0.4,
   -3.2,
   -4.8,
   -5.2,
   -4.0,
   -1.7,
   -2.1,
   -2.1,
   -0.9,
   1.1,
   -2.2,
   2.2,
   1.3,
   -0.4,
   0.2,
   1.2,
   3.4,
   0.8,
   0.4,
   1.1,
   -3.9,
   -6.6,
   0.8,
   0.4,
   -2.9,
   -4.3,
   -2.5,
   0.8,
   1.2,
   1.5,
   0.2,
   -1.1,
   -1.9,
   -1.6,
   -0.0,
   -3.4,
   -6.3,
   0.6,
   -2.5,
   -0.6,
   7.2,
   4.2,
   1.5,
   1.4,
   3.4,
   6.4,
   7.1,
   5.7,
   6.5,
   10.2,
   10.2,
   9.8,
   7.2,
   3.9,
   0.2,
   -0.5,
   3.4,
   6.1,
   6.2,
   2.6,
   -0.3,
   -0.2,
   0.3,
   6.3,
   9.5,
   10.0,
   9.1,
   10.0,
   10.4,
   11.1,
   9.8,
   9.9,
   8.3,
   5.8,
   9.4,
   9.2,
   10.8,
   11.5,
   11.0,
   11.8,
   13.3,
   13.9,
   13.1,
   6.7,
   6.6,
   6.0,
   7.8,
   9.0,
   7.8,
   10.7,
   7.6,
   7.6,
   6.4,
   5.6,
   6.8,
   8.3,
   10.1,
   10.9,
   11.9,
   15.1,
   16.2,
   17.1,
   18.0,
   14.9,
   12.0,
   10.5,
   13.4,
   14.8,
   15.0,
   15.5,
   16.7,
   18.4,
   19.7,
   16.1,
   12.8,
   13.6,
   15.6,
   15.7,
   14.7,
   15.9,
   10.8,
   10.2,
   13.0,
   13.6,
   15.9,
   18.8,
   20.4,
   20.2,
   16.6,
   16.0,
   15.5,
   17.7,
   18.3,
   21.5,
   20.9,
   21.4,
   None]}}

In [120]:
temp_dates = list(temperature['daily']['time'])
temperature_max = list(temperature['daily']['temperature_2m_max'])
temperature_min = list(temperature['daily']['temperature_2m_min'])
temperature_mean = list(temperature['daily']['temperature_2m_mean'])

In [121]:
temp_data = {"Dates":temp_dates,"Temperature mean":temperature_mean,"Temperature max":temperature_max,"Temperature min":temperature_min}

In [122]:
temp_df = pd.DataFrame(temp_data)
temp_df.head()

        Dates  Temperature mean  Temperature max  Temperature min
0  2023-01-01              11.4             12.9              9.0
1  2023-01-02               6.9              9.0              4.8
2  2023-01-03               5.6              9.2              1.7
3  2023-01-04               0.8              1.5             -0.2
4  2023-01-05               0.0              3.2             -6.7

In [123]:
url_fall = 'https://archive-api.open-meteo.com/v1/archive?latitude=54.69&longitude=25.28&start_date=2023-01-01&end_date=2023-06-18&daily=rain_sum,snowfall_sum,winddirection_10m_dominant&timezone=Europe%2FBerlin&min=2023-06-04&max=2023-06-18'
response = requests.get(url_fall)
fall = response.json()

In [134]:
fall

{'latitude': 54.699997,
 'longitude': 25.300003,
 'generationtime_ms': 1.2170076370239258,
 'utc_offset_seconds': 7200,
 'timezone': 'Europe/Berlin',
 'timezone_abbreviation': 'CEST',
 'elevation': 95.0,
 'daily_units': {'time': 'iso8601',
  'rain_sum': 'mm',
  'snowfall_sum': 'cm',
  'winddirection_10m_dominant': '°'},
 'daily': {'time': ['2023-01-01',
   '2023-01-02',
   '2023-01-03',
   '2023-01-04',
   '2023-01-05',
   '2023-01-06',
   '2023-01-07',
   '2023-01-08',
   '2023-01-09',
   '2023-01-10',
   '2023-01-11',
   '2023-01-12',
   '2023-01-13',
   '2023-01-14',
   '2023-01-15',
   '2023-01-16',
   '2023-01-17',
   '2023-01-18',
   '2023-01-19',
   '2023-01-20',
   '2023-01-21',
   '2023-01-22',
   '2023-01-23',
   '2023-01-24',
   '2023-01-25',
   '2023-01-26',
   '2023-01-27',
   '2023-01-28',
   '2023-01-29',
   '2023-01-30',
   '2023-01-31',
   '2023-02-01',
   '2023-02-02',
   '2023-02-03',
   '2023-02-04',
   '2023-02-05',
   '2023-02-06',
   '2023-02-07',
   '2023-02-08',
   '2023-02-09',
   '2023-02-10',
   '2023-02-11',
   '2023-02-12',
   '2023-02-13',
   '2023-02-14',
   '2023-02-15',
   '2023-02-16',
   '2023-02-17',
   '2023-02-18',
   '2023-02-19',
   '2023-02-20',
   '2023-02-21',
   '2023-02-22',
   '2023-02-23',
   '2023-02-24',
   '2023-02-25',
   '2023-02-26',
   '2023-02-27',
   '2023-02-28',
   '2023-03-01',
   '2023-03-02',
   '2023-03-03',
   '2023-03-04',
   '2023-03-05',
   '2023-03-06',
   '2023-03-07',
   '2023-03-08',
   '2023-03-09',
   '2023-03-10',
   '2023-03-11',
   '2023-03-12',
   '2023-03-13',
   '2023-03-14',
   '2023-03-15',
   '2023-03-16',
   '2023-03-17',
   '2023-03-18',
   '2023-03-19',
   '2023-03-20',
   '2023-03-21',
   '2023-03-22',
   '2023-03-23',
   '2023-03-24',
   '2023-03-25',
   '2023-03-26',
   '2023-03-27',
   '2023-03-28',
   '2023-03-29',
   '2023-03-30',
   '2023-03-31',
   '2023-04-01',
   '2023-04-02',
   '2023-04-03',
   '2023-04-04',
   '2023-04-05',
   '2023-04-06',
   '2023-04-07',
   '2023-04-08',
   '2023-04-09',
   '2023-04-10',
   '2023-04-11',
   '2023-04-12',
   '2023-04-13',
   '2023-04-14',
   '2023-04-15',
   '2023-04-16',
   '2023-04-17',
   '2023-04-18',
   '2023-04-19',
   '2023-04-20',
   '2023-04-21',
   '2023-04-22',
   '2023-04-23',
   '2023-04-24',
   '2023-04-25',
   '2023-04-26',
   '2023-04-27',
   '2023-04-28',
   '2023-04-29',
   '2023-04-30',
   '2023-05-01',
   '2023-05-02',
   '2023-05-03',
   '2023-05-04',
   '2023-05-05',
   '2023-05-06',
   '2023-05-07',
   '2023-05-08',
   '2023-05-09',
   '2023-05-10',
   '2023-05-11',
   '2023-05-12',
   '2023-05-13',
   '2023-05-14',
   '2023-05-15',
   '2023-05-16',
   '2023-05-17',
   '2023-05-18',
   '2023-05-19',
   '2023-05-20',
   '2023-05-21',
   '2023-05-22',
   '2023-05-23',
   '2023-05-24',
   '2023-05-25',
   '2023-05-26',
   '2023-05-27',
   '2023-05-28',
   '2023-05-29',
   '2023-05-30',
   '2023-05-31',
   '2023-06-01',
   '2023-06-02',
   '2023-06-03',
   '2023-06-04',
   '2023-06-05',
   '2023-06-06',
   '2023-06-07',
   '2023-06-08',
   '2023-06-09',
   '2023-06-10',
   '2023-06-11',
   '2023-06-12',
   '2023-06-13',
   '2023-06-14',
   '2023-06-15',
   '2023-06-16',
   '2023-06-17',
   '2023-06-18'],
  'rain_sum': [4.6,
   7.6,
   2.4,
   0.3,
   8.9,
   0.0,
   0.0,
   0.0,
   0.0,
   3.2,
   0.0,
   0.1,
   3.3,
   0.6,
   8.2,
   2.5,
   1.8,
   6.8,
   0.4,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.1,
   0.3,
   0.1,
   0.3,
   0.6,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.1,
   2.8,
   0.0,
   0.3,
   0.0,
   0.0,
   0.0,
   3.0,
   7.9,
   0.5,
   1.6,
   0.4,
   0.0,
   0.0,
   2.7,
   0.7,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.3,
   0.3,
   0.0,
   0.1,
   0.0,
   0.5,
   0.0,
   0.0,
   5.3,
   0.0,
   4.3,
   3.3,
   0.8,
   0.0,
   0.0,
   0.0,
   0.0,
   0.3,
   1.3,
   0.0,
   3.6,
   4.4,
   1.5,
   6.4,
   0.8,
   0.0,
   0.0,
   0.0,
   7.0,
   6.5,
   3.8,
   0.0,
   0.0,
   0.0,
   0.5,
   1.3,
   5.2,
   5.3,
   0.2,
   0.1,
   1.0,
   2.7,
   0.9,
   0.5,
   4.1,
   1.3,
   1.5,
   2.5,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.7,
   6.2,
   0.5,
   0.6,
   0.0,
   3.2,
   0.0,
   1.8,
   0.1,
   0.3,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   6.3,
   11.9,
   0.2,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   1.6,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.5,
   0.0,
   0.0,
   0.0,
   0.0,
   1.0,
   0.0,
   1.0,
   2.2,
   None],
  'snowfall_sum': [0.0,
   0.0,
   0.0,
   2.59,
   4.48,
   0.0,
   1.19,
   0.14,
   1.89,
   3.99,
   0.63,
   0.84,
   0.0,
   0.0,
   0.42,
   0.0,
   2.52,
   0.91,
   1.33,
   3.99,
   1.4,
   0.0,
   0.0,
   0.0,
   0.21,
   2.59,
   2.1,
   0.0,
   1.19,
   2.66,
   0.63,
   7.91,
   1.33,
   0.21,
   0.21,
   0.0,
   0.14,
   0.21,
   0.0,
   0.0,
   0.14,
   2.38,
   0.0,
   0.0,
   0.0,
   0.0,
   0.14,
   1.19,
   0.0,
   0.0,
   5.39,
   0.14,
   0.35,
   0.0,
   2.38,
   0.98,
   0.49,
   0.0,
   0.0,
   0.0,
   0.0,
   0.07,
   1.82,
   0.7,
   0.63,
   0.91,
   2.24,
   0.0,
   5.74,
   0.63,
   1.12,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.21,
   0.0,
   0.07,
   0.0,
   0.0,
   1.26,
   0.0,
   0.56,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   None],
  'winddirection_10m_dominant': [249,
   222,
   269,
   241,
   74,
   51,
   127,
   155,
   142,
   163,
   165,
   179,
   187,
   201,
   183,
   191,
   145,
   129,
   234,
   5,
   47,
   50,
   54,
   290,
   229,
   225,
   8,
   36,
   233,
   228,
   259,
   224,
   285,
   309,
   359,
   355,
   277,
   356,
   231,
   221,
   244,
   255,
   295,
   280,
   325,
   269,
   205,
   177,
   258,
   285,
   261,
   307,
   20,
   181,
   210,
   278,
   330,
   344,
   270,
   301,
   279,
   278,
   281,
   277,
   242,
   190,
   235,
   301,
   108,
   184,
   277,
   190,
   199,
   264,
   297,
   158,
   160,
   181,
   189,
   280,
   214,
   218,
   227,
   239,
   233,
   280,
   317,
   316,
   188,
   170,
   23,
   19,
   5,
   347,
   329,
   40,
   83,
   28,
   104,
   89,
   151,
   105,
   86,
   98,
   105,
   121,
   116,
   48,
   57,
   49,
   13,
   305,
   187,
   164,
   152,
   304,
   290,
   267,
   181,
   259,
   261,
   205,
   318,
   323,
   16,
   66,
   83,
   88,
   143,
   138,
   139,
   28,
   66,
   80,
   126,
   188,
   340,
   359,
   35,
   72,
   61,
   53,
   122,
   55,
   295,
   301,
   0,
   357,
   242,
   330,
   287,
   338,
   7,
   309,
   258,
   326,
   125,
   357,
   189,
   9,
   57,
   69,
   76,
   69,
   69,
   94,
   60,
   99,
   None]}}

In [125]:
fall_dates = list(fall['daily']['time'])
rain = list(fall['daily']['rain_sum'])
snowfall = list(fall['daily']['snowfall_sum'])
wind = list(fall['daily']['winddirection_10m_dominant'])

In [126]:
fall_data = {"Dates":fall_dates,"Rain":rain,"Snowfall":snowfall,"Wind direction":wind}

In [127]:
fall_df = pd.DataFrame(fall_data)
fall_df.head()

        Dates  Rain  Snowfall  Wind direction
0  2023-01-01   4.6      0.00           249.0
1  2023-01-02   7.6      0.00           222.0
2  2023-01-03   2.4      0.00           269.0
3  2023-01-04   0.3      2.59           241.0
4  2023-01-05   8.9      4.48            74.0

In [128]:
from sqlalchemy import create_engine
from sqlalchemy import text
import mysql.connector

In [129]:
cnx = mysql.connector.connect(user='root',
                              password='xxx',
                              host='localhost',
                              database='weather')

cursor = cnx.cursor()
engine = create_engine('mysql+mysqlconnector://root:%s@localhost:3306/weather' % quote('xxx'))
temp_df.to_sql('temperature', engine, index=False, if_exists="replace")
fall_df.to_sql('fall', engine, index=False, if_exists="replace")

cnx.commit()

cursor.close()
cnx.close()

In [130]:
with engine.begin() as con:
    temp = pd.read_sql(text("SELECT * FROM temperature"),con)

In [131]:
temp

          Dates  Temperature mean  Temperature max  Temperature min
0    2023-01-01              11.4             12.9              9.0
1    2023-01-02               6.9              9.0              4.8
2    2023-01-03               5.6              9.2              1.7
3    2023-01-04               0.8              1.5             -0.2
4    2023-01-05               0.0              3.2             -6.7
..          ...               ...              ...              ...
164  2023-06-14              18.3             22.1             12.4
165  2023-06-15              21.5             26.4             17.2
166  2023-06-16              20.9             25.6             15.3
167  2023-06-17              21.4             26.2             17.8
168  2023-06-18               NaN             18.3             18.0

[169 rows x 4 columns]

In [132]:
with engine.begin() as con:
    rain = pd.read_sql(text("SELECT * FROM fall"),con)

In [133]:
rain

          Dates  Rain  Snowfall  Wind direction
0    2023-01-01   4.6      0.00           249.0
1    2023-01-02   7.6      0.00           222.0
2    2023-01-03   2.4      0.00           269.0
3    2023-01-04   0.3      2.59           241.0
4    2023-01-05   8.9      4.48            74.0
..          ...   ...       ...             ...
164  2023-06-14   1.0      0.00            69.0
165  2023-06-15   0.0      0.00            94.0
166  2023-06-16   1.0      0.00            60.0
167  2023-06-17   2.2      0.00            99.0
168  2023-06-18   NaN       NaN             NaN

[169 rows x 4 columns]