#### 1) Map and Filter:

In [151]:
# Use map to double each element in a list of numbers.
numb_list = [3,6,7]
sq_numbs = list(map(lambda x:x ** 2,numb_list))
sq_numbs

[9, 36, 49]

In [152]:
# Use filter to select only the odd numbers from a list of integers.
odd_numbs = list(filter(lambda element: element % 2 != 0 ,numb_list))
odd_numbs

[3, 7]

#### 2) Pandas:

In [153]:
# Read a CSV file into a pandas DataFrame and display the first few rows.
import pandas as pd

In [154]:
df = pd.read_csv('Superstore.csv')
df.head(3)

          Category   Region  Target 2020 Qty  Target 2025 Qty  Target 2030 Qty
0  Office Supplies    North            86996            34120            80677
1       Technology    North            71392            52291            25565
2  Office Supplies  Central            39977            98748            57307

In [155]:
# Group a DataFrame by a specific column and calculate the average of another column.
df.groupby(by="Region")["Target 2020 Qty"].sum()

Region
Central    140476
North      223686
South      152982
Name: Target 2020 Qty, dtype: int64

In [156]:
# Merge two DataFrames based on a common column.
df2 = pd.read_csv('Superstore - Copy.csv')
new_df = pd.merge(df, df2, on='Region', how='outer')
new_df.head()

,Category_x,Region,Target 2020 Qty_x,Target 2025 Qty_x,Target 2030 Qty_x,Category_y,Target 2020 Qty_y,Target 2025 Qty_y,Target 2030 Qty_y
0,Office Supplies,North,86996,34120,80677,Office Supplies,86996,34120,80677
1,Office Supplies,North,86996,34120,80677,Technology,71392,52291,25565
2,Office Supplies,North,86996,34120,80677,Furniture,65298,11127,71559
3,Technology,North,71392,52291,25565,Office Supplies,86996,34120,80677
4,Technology,North,71392,52291,25565,Technology,71392,52291,25565

#### 3) Namedtuple:

In [157]:
# Define a Person named tuple with fields for name, age, and city. Create instances of Person and access their attributes.
from collections import namedtuple

Person = namedtuple("Person",["name","age","city"])
person = Person("Jon",24,"Winterfell")
person

Person(name='Jon', age=24, city='Winterfell')

In [158]:
getattr(person, 'city')
getattr(person, 'age')
getattr(person, 'name')

'Jon'

#### 4) Counter:

In [159]:
# Count the frequency of each word in a given text and display the top 5 most common words.
from collections import Counter

summer_favorite = Counter(['watermelon','strawberry','ice cream', 'watermelon', 'salad', 'ice cream', 'watermelon', 
                           'strawberry', 'salad', 'strawberry', 'watermelon', 'strawberry','ice cream', 'strawberry',
                          'honey'])
summer_favorite.most_common(5)

[('strawberry', 5),
 ('watermelon', 4),
 ('ice cream', 3),
 ('salad', 2),
 ('honey', 1)]

In [160]:
# Merge two counters together and calculate the total count of each element.
summer_favorite2 = Counter(['strawberry', 'honey', 'salad', 'honey', 'strawberry'])
summer_favorite + summer_favorite2

Counter({'watermelon': 4,
         'strawberry': 7,
         'ice cream': 3,
         'salad': 3,
         'honey': 3})

#### 5) Deque:

In [161]:
# Use a deque to implement a queue and perform enqueue and dequeue operations.
from collections import deque
que = deque([4,5,6])

que.append(1)
que.append(2)
que.append(3)

que.appendleft(6)

que.extend([7,8])

que.pop()

que.popleft()

que.insert(3,4)

que.remove(4)

que

deque([5, 6, 4, 1, 2, 3, 7])

In [162]:
# Reverse the order of elements in a deque.
que.reverse()

que

deque([7, 3, 2, 1, 4, 6, 5])

#### 6 )Defaultdict:

In [163]:
# Create a defaultdict that maps a character to a list of words starting with that character.
from collections import defaultdict

words_dict = defaultdict(list)
   
words_list = ['strawberry', 'honey', 'salad', 'money', 'berry', 'melon']

for i in words_list:
    words_dict[i[0]].append(i)

words_dict

defaultdict(list,
            {'s': ['strawberry', 'salad'],
             'h': ['honey'],
             'm': ['money', 'melon'],
             'b': ['berry']})

In [164]:
# Calculate the sum of values for each key in a dictionary using a defaultdict.
amount_dict = defaultdict(int)

my_dict = {'s': ['strawberry', 'salad'],
             'h': ['honey'],
             'm': ['money', 'melon'],
             'b': ['berry']}

for k in words_dict.keys():
    amount_dict[k] = len(my_dict[k])
    
amount_dict

defaultdict(int, {'s': 2, 'h': 1, 'm': 2, 'b': 1})

#### 7) Reduce:

In [165]:
# Use reduce to find the maximum element in a list of numbers.
from functools import reduce
numbs_list = [9, 77, 23, 14, 87, 66, 54, 39]
max_numb = reduce(max, numbs_list)
max_numb

87

In [166]:
# Combine a list of strings into a single string using reduce.
strings_list = ['Combine', 'a', 'list', 'of', 'strings', 'into', 'a', 'single', 'string', 'using', 'reduce']
print(reduce(lambda x,y:x+' '+y, strings_list))

Combine a list of strings into a single string using reduce